*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;;
}
header
{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;

}
header h4{
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 2rem;
}
.intro
{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}
.hey-header
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff; 
}
.hey
{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;

}
.hey.active
{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;

}

.hey.fade
{
    bottom: 15px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 80pt;

    text-align: center;

    user-select: none;
}


